{% comment %}
  Renders sticky product add to cart button.
  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} product form id.
  - section_id: {String} id of section to which this snippet belongs.

  Usage:
  {% render 'sticky-atc-custom', block: block, product: product, product_form_id: product_form_id, section_id: section.id %}
{% endcomment %}

{% assign has_variants = true %}
{% if product.options.size == 1 and product.options.first == 'Title' %}
  {% assign has_variants = false %}
{% endif %}
    
<product-form
  class="product-form sticky-atc"
  data-hide-errors="{{ gift_card_recipient_feature_active }}"
  data-section-id="{{ section.id }}"
>

  <div class="product-form__error-message-wrapper" role="alert" hidden>
    <svg aria-hidden="true" focusable="false" class="icon icon-error" viewBox="0 0 13 13">
      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
      <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
    </svg>
    <span class="product-form__error-message"></span>
  </div>

  <div class="content-container">
    <div class="selected-variant-title mobile-title">{{ product.title }}</div>  
    <div class="product-details-container">
      <div class="selected-variant-header-container">
        <div class="selected-variant-image-container">
          {% if product.selected_or_first_available_variant.image %}
            <img src="{{ product.selected_or_first_available_variant.image.src | img_url}}" alt="Selected Variant Image" id="selectedVariantImage">
          {% elsif has_variants == false and product.images.size > 0 %}
            <img src="{{ product.images.first.src | img_url }}" alt="Product Image" id="selectedVariantImage">
          {% endif %}
        </div>
        <div class="selected-variant-title desktop-title">{{ product.title }}</div> 
      </div>
      <div class="product-info-container">              
        <div class="selected-variant-details">
          <div class="options-container {% if has_variants == false %}hide-variant-options{% endif %}">
            {% for option in product.options %}
              <div class="selected-variant-option" data-option-name="{{ option }}">
                {{ option }}: {{ product.selected_or_first_available_variant.options[forloop.index0] }}
              </div>
            {% endfor %}
          </div>
          <div class="price-container">
            <span class="compared-price" style="{% unless product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}display:none;{% endunless %}">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
            <span class="selection-price">{{ product.selected_or_first_available_variant.price | money }}</span>
            {%- assign difference = product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price -%}
            {%- assign float_difference = difference | times: 1.0 -%}
            {%- assign discount_fraction = float_difference | divided_by: product.selected_or_first_available_variant.compare_at_price -%}
            {%- assign discount_percentage = discount_fraction | times: 100 | round -%}
            &nbsp;
            <span class="selection-price discount-percentage" style="{% unless product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}display:none;{% endunless %}">(Save {{ discount_percentage }}%)</span>
          </div>
        </div>
        <div class="atc-button-container">      
          {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled class="product-variant-id">
            {%- if gift_card_recipient_feature_active -%}
              {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
            {%- endif -%}
            <div class="product-form__buttons sticky-product-form__buttons">
              {%- liquid
                assign check_against_inventory = true
                if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
                  assign check_against_inventory = false
                endif
                if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
                  assign quantity_rule_soldout = true
                endif
              -%}
              <button
                id="StickyProductSubmitButton-{{ section_id }}"
                type="submit"
                name="add"
                class="botonpro product-form__submit button button--full-width button--primary sticky-atc-button"
                {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
                  disabled
                {% endif %}
              >
                <span>
                  {%- if product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                    {{ 'products.product.sold_out' | t }}
                  {%- else -%}
                    {{ 'products.product.add_to_cart' | t }}
                  {%- endif -%}
                </span>
                {%- render 'loading-spinner' -%}
              </button>
            </div>
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</product-form>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var atcElement = document.querySelector(".sticky-atc");
    var targetElement = document.querySelector('[id^="ProductSubmitButton-"]');

    function getAbsoluteTop(element) {
      var top = 0;
      while (element) {
        top += element.offsetTop || 0;
        element = element.offsetParent;
      }
      return top;
    }

    window.addEventListener("scroll", function() {
      var targetTopPosition = getAbsoluteTop(targetElement);
      var targetBottomPosition = targetTopPosition + targetElement.clientHeight;
      var isTargetElementOutOfView = targetTopPosition < window.scrollY;

      if (isTargetElementOutOfView) {
        atcElement.classList.add('show');
      } else {
        atcElement.classList.remove('show');
      }
    });

    var stickyAtcVariantInput = document.querySelector('.sticky-atc .product-variant-id');

    function updateStickyATCOption(optionName, optionValue) {
      var matches = optionName.match(/options\\[(.+)\\]/);
      if (matches && matches[1]) {
        optionName = matches[1];
      }

      var optionDisplay = document.querySelector('.selected-variant-option[data-option-name="' + optionName + '"]');
      if (optionDisplay) {
        optionDisplay.textContent = optionName + ': ' + optionValue;
      }
    }

    function handleVariantChange(event) {
      var target = event.target;
      if (target.tagName === 'INPUT' || target.tagName === 'SELECT') {
        var optionName = target.name;
        var optionValue = target.tagName === 'INPUT' && target.type === 'radio' ? target.nextElementSibling.innerText : target.value;

        if (optionName && optionValue) {
          updateStickyATCOption(optionName, optionValue);
          stickyAtcVariantInput.value = document.querySelector('[name="id"]:checked').value || document.querySelector('[name="id"]').value;
        }
      }
    }

    document.addEventListener('change', handleVariantChange);
  });
</script>


            
<style>

.product-form.sticky-atc {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  transition: bottom 0.3s ease;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.product-form.sticky-atc.show {
  bottom: 0;
}

.product-form.sticky-atc .content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.product-form.sticky-atc .product-details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

.product-form.sticky-atc .selected-variant-image-container {
  display: none;
}

.product-form.sticky-atc .desktop-title {
  display: none;
}

.product-form.sticky-atc .mobile-title {
  display: block;
  font-size: 16px;
  font-weight: bold;
  flex-grow: 1;
}

.product-form.sticky-atc .product-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.product-form.sticky-atc .price-container {
  margin-left: auto;
  font-size: 16px;
  font-weight: bold;
}

.product-form.sticky-atc .atc-button-container {
  margin-left: 10px;
}

@media (min-width: 768px) {
  .product-form.sticky-atc .selected-variant-image-container {
    display: block;
    margin-right: 10px;
  }

  .product-form.sticky-atc .desktop-title {
    display: block;
  }

  .product-form.sticky-atc .mobile-title {
    display: none;
  }
}

@media (max-width: 768px) {
  .product-form.sticky-atc .selected-variant-image-container,
  .product-form.sticky-atc .options-container {
    display: none;
  }
}

</style>
