{% stylesheet %}
  ul.custom--tabs {
    list-style-type: none;
    width: 50%;
    max-width: 1200px;
    display: flex !important;
    flex-wrap: nowrap !important;
    border-radius: 50px;
    background: #1f1f1f;
    padding: 20px 0px 20px 0px;
    justify-content: center;
    margin: 20px auto;
    overflow: hidden; /* Evita que los tabs se desborden en pantallas pequeñas */
  }
  
  .custom--tabs .tab__list {
      margin: 0;
      position: relative;
      z-index: 1;
  }
  
  .custom__tab-content {
    position: relative;
      display: none;
      color: #fff;
      border: 1px solid #1f1f1f;
      border-radius: 50px;
      padding: 20px 0;
      border: 2px solid #5151515c;
      transition: border-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
      background: #1b1b1b;
     
  }
  
  .custom__tab-content::before {
      content: "";
      position: absolute;
      top: -3px;
      left: -3px;
      right: -3px;
      bottom: -3px;
      border-radius: 50px;
      background-image: linear-gradient(
          to right,
          #5a0dff -5%,
          #ff29b8 31%,
          #ff581c,
          #ff29b8,
          #5a0dff
      );
      background-size: 200% 100%;
      animation: gradientAnimation 4s linear infinite;
      padding: 2px;
      box-sizing: border-box;
      z-index: -1;
  }

  .custom__tab-content.active {
      display: block;
  }
  
  .tab__list .custom-tab {
    position: relative;
      display: inline-block !important;
      cursor: pointer !important;
      margin: 0 50px !important;
      padding: 15px 20px;
      border: 2px solid #5151515c;
      color: #cec8c8;
      border-radius: 30px;
      font-size: 16px;
      font-weight: 500;
      transition: border-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
      background: #252525;
  }
  
  .tab__list .custom-tab.active::before,
.tab__list .custom-tab:hover::before {
      content: "";
      position: absolute;
      top: -3px;
      left: -3px;
      right: -3px;
      bottom: -3px;
      border-radius: 30px;
      background-image: linear-gradient(
          to right,
          #5a0dff -5%,
          #ff29b8 31%,
          #ff581c,
          #ff29b8,
          #5a0dff
      );
      background-size: 200% 100%;
      animation: gradientAnimation 4s linear infinite;
      padding: 2px;
      box-sizing: border-box;
      z-index: -1;
  }
  
  .tab__list::after {
      content: '-';
      color: #999;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
  }
  
  .tab__list:last-child::after {
      content: '';
  }

  /* Estilos para pantallas de tamaño móvil (hasta 576px) */
  @media only screen and (max-width: 576px) {
      ul.custom--tabs {
          flex-wrap: nowrap !important;
          overflow-x: auto;
          width: 100%;
      }
      .tab__list .custom-tab {
        font-size: 14px;
      }
      .custom--tabs .tab__list .custom-tab {
          margin: 0 5px !important;
          padding: 10px 12px !important;
      }
  
      .custom__tab-content.active {
          padding: 0 15px;
      }
  
      .tab__list::after {
          display: none;
      }
  }
  
  

/* Estilos para pantallas de tamaño tablet (entre 577px y 992px) */
@media only screen and (min-width: 577px) and (max-width: 992px) {
    ul.custom--tabs {
        flex-wrap: wrap !important;
        width: 100%;
    }
}

/* Estilos para pantallas de tamaño laptop (entre 993px y 1200px) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    ul.custom--tabs {
        flex-wrap: wrap !important;
        width: 70%;
    }
}

/* Estilos para pantallas de tamaño PC (más de 1200px) */
@media only screen and (min-width: 1201px) {
    ul.custom--tabs {
        flex-wrap: wrap !important;
        width: 50%;
    }
}

  @keyframes gradientAnimation {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
{% endstylesheet %}
  
<ul class="custom--tabs page-width">
  {% for block in section.blocks %}
    {% if block.type == 'tab' or block.type == 'product_attribute' or block.type == 'html_content' %}
      <li class="tab__list {% if forloop.index0 == section.settings.default_active_tab %}active{% endif %}">
        <button
          class="custom-tab {% if forloop.index0 == section.settings.default_active_tab %}active{% endif %}"
          data-content-id="content--{{ block.id }}--{{ section.id }}"
        >
          {{ block.settings.heading }}
        </button>
      </li>
    {% endif %}
  {% endfor %}
</ul>

{% for block in section.blocks %}
  {% if block.type == 'tab' %}
    <div
      id="content--{{ block.id }}--{{ section.id }}"
      class="custom__tab-content page-width {% if forloop.index0 == section.settings.default_active_tab %}active{% endif %}"
    >
      {{ block.settings.tab_content }}
    </div>
  {% endif %}
  {% if block.type == 'product_attribute' %}
    <div
      id="content--{{ block.id }}--{{ section.id }}"
      class="custom__tab-content page-width {% if forloop.index0 == section.settings.default_active_tab %}active{% endif %}"
    >
      {% case block.settings.attribute %}
        {% when 'description' %}
          {{ product.description }}
        {% when 'price' %}
          {{ product.price | money }}
        {% when 'vendor' %}
          {{ product.vendor }}
        {% when 'type' %}
          {{ product.type }}
        {% when 'tags' %}
          {{ product.tags | join: ', ' }}
        {% else %}
          Attribute not found.
      {% endcase %}
    </div>
  {% endif %}
  {% if block.type == 'html_content' %}
    <div
      id="content--{{ block.id }}--{{ section.id }}"
      class="custom__tab-content page-width {% if forloop.index0 == section.settings.default_active_tab %}active{% endif %}"
    >
      {{ block.settings.html_code }}
    </div>
  {% endif %}
{% endfor %}

  
{% javascript %}
  document.querySelectorAll('.custom-tab').forEach(function(tab) {
    tab.addEventListener('click', function() {
      var contentId = this.dataset.contentId;
      var content = document.getElementById(contentId);

      document.querySelectorAll('.custom__tab-content').forEach(function(tabContent) {
        tabContent.classList.remove('active');
      });

      document.querySelectorAll('.custom-tab').forEach(function(tab) {
        tab.classList.remove('active');
      });

      this.classList.add('active');
      content.classList.add('active');
    });
  });
{% endjavascript %}

  
{% schema %}
{
  "name": "Tabs",
  "settings": [
    {
      "type": "number",
      "id": "default_active_tab",
      "label": "Default Active Tab",
      "min": 0,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "info": "Include a heading that explains the tab."
        },
        {
          "type": "html",
          "id": "tab_content",
          "label": "Content"
        }
      ]
    },
    {
      "type": "product_attribute",
      "name": "Product Attribute",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "info": "Include a heading for the product attribute tab."
        },
        {
          "type": "select",
          "id": "attribute",
          "label": "Attribute",
          "options": [
            { "value": "description", "label": "Description" },
            { "value": "price", "label": "Price" },
            { "value": "vendor", "label": "Vendor" },
            { "value": "type", "label": "Type" },
            { "value": "tags", "label": "Tags" }
          ]
        }
      ]
    },
    {
      "type": "html_content",
      "name": "HTML Content",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "info": "Include a heading for the HTML content tab."
        },
        {
          "type": "html",
          "id": "html_code",
          "label": "HTML Code"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tabs",
      "blocks": [
        {
          "type": "tab"
        },
        {
          "type": "product_attribute"
        },
        {
          "type": "html_content"
        }
      ]
    }
  ]
}
{% endschema %}

