{% stylesheet %}
  ul.custom--tabs {
    list-style-type: none;
    width: 100%;
    max-width: 1200px; /* Ajusta el máximo ancho según tu preferencia */
    margin: 0 auto; /* Centra los tabs horizontalmente */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los tabs horizontalmente */
  }
  
  .custom--tabs .tab__list {
    margin: 0 10px; /* Espacio entre cada tab en PC */
  }
  
  .custom--tabs .tab__list:last-child {
    margin-right: 0; /* Elimina el espacio a la derecha del último tab en PC */
  }
  
  .custom--tabs .tab__list .custom-tab {
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 30px; /* Borde redondeado */
    transition: border-color 0.3s ease; /* Transición suave para el cambio de borde */
    background-color: #efefef; /* Color de fondo normal */
  }
  
  .custom--tabs .tab__list .custom-tab:hover {
    border: 1px solid transparent;
    background-image: linear-gradient(to right, #5a0dff -5%, #ff29b8 31%, #ff581c, #ff29b8, #5a0dff);
    background-clip: padding-box; /* Aplica el degradado solo dentro del contenido del tab */
  }
  
  @media only screen and (max-width: 576px) {
    ul.custom--tabs {
      flex-direction: column; /* Cambia a una disposición vertical en móvil */
    }
  
    .custom--tabs .tab__list {
      margin: 10px 0; /* Espacio entre cada tab en móvil */
    }
  }
  {% endstylesheet %}
  
  <ul class="custom--tabs page-width">
    <!-- Código para los tabs -->
    {% for block in section.blocks %}
      {% if block.type == 'tab' %}
        <li class="tab__list {% if forloop.first %}active{% endif %}">
          <h6
            class="custom-tab"
            data-content-id="content--{{ block.id }}--{{ section.id }}"
          >
            {{ block.settings.heading }}
          </h6>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  
  {% for block in section.blocks %}
    {% if block.type == 'tab' %}
      <div
        id="content--{{ block.id }}--{{ section.id }}"
        class="custom__tab-content page-width {% if forloop.first %}active{% endif %}"
      >
        {{ block.settings.tab_content }}
      </div>
    {% endif %}
  {% endfor %}
  
  {% javascript %}
  tabs = document.querySelectorAll('.custom-tab');
  tabContents = document.querySelectorAll('.custom__tab-content');
  
  tabs.forEach(function(tab){
      tab.addEventListener('click', function(){
          var contentId = this.dataset.contentId;
          var content = document.getElementById(contentId);
  
          tabContents.forEach(function(tabContent){
              tabContent.classList.remove('active');
          });
  
          tabs.forEach(function(tab){
              tab.classList.remove('active');
          });
  
          this.classList.add('active');
          content.classList.add('active');
      });
  });
  {% endjavascript %}
  
  {% schema %}
  {
    "name": "Tabs",
    "blocks": [
      {
        "type": "tab",
        "name": "Tabs",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "info": "Include a heading that explains the tab."
          },
          {
            "type": "richtext",
            "id": "tab_content",
            "label": "Content"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Tabs",
        "blocks": [
          {
            "type": "tab"
          }
        ]
      }
    ]
  }
  {% endschema %}
  