{% stylesheet %}
      ul.custom--tabs{
        list-style-type: none;
        width: 1200px;
        max-width: 60%;
        display: flex !important;
        flex-wrap: wrap !important;

        border-radius: 300px;
    background: linear-gradient(122deg, #4F4F4F -65.81%, #282323 117.04%);
    border: 0;
    padding: 35px;
    align-items: center;
    justify-content: center;
    margin-top: -60px;

      }
    .custom--tabs .tab__list{
    
      border: 0;
    padding: 0;
    height: 48px;
    padding: 0 25px;
    border: 1px solid #999999;
    color: #999999;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    }
/* coded by https://websensepro.com team */
      .custom__tab-content
      {
          display:none;
      }
      .custom__tab-content.active
      {
          display:block;
      }
      .tab__list button.custom-tab
      {
          display:inline-block !important;
        
          cursor: pointer !important;
        margin: 0px !important;
        border: 0;
    padding: 0;
    height: 48px;
    padding: 0 25px;
    border: 1px solid #999999;
    color: #999999;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
      }
      .active-always{
        display: block !important;
      }
      .tab__list:first-child{
  background-color: #dfdfdf;
      }
      .tab__list button.custom-tab.active
      {
          color:grey !important;
          border-bottom:1px solid red !important;
          background-color: #dfdfdf;
      }

    @media only screen and (max-width: 576px)
      {
        ul.custom--tabs{
          display: flex !important;
          flex-direction: column !important;
        }
        .custom--tabs .tab__list .custom-tab{
          margin: 0px !important;
          width: 100%;
          padding: 10px 15px !important;
          border-bottom: none !important;
        }
        .tab__list button.custom-tab
      {
       padding: 0px !important;
        margin: 10px 0px !important;
      }
        .custom__tab-content.active{

          padding: 0 15px;
        }
      }
{% endstylesheet %}

<ul class="custom--tabs page-width">
  <!-- coded by https://websensepro.com team -->
  {% for block in section.blocks %}
    {% if block.type == 'tab' %}
      <li class="tab__list {% if forloop.first %}active{% endif %}">
        <button
          class="custom-tab"
          data-content-id="content--{{ block.id }}--{{ section.id }}"
        >
          {{ block.settings.heading }}
        </button>
      </li>
    {% endif %}
  {% endfor %}
</ul>

{% for block in section.blocks %}
  {% if block.type == 'tab' %}
    <div
      id="content--{{ block.id }}--{{ section.id }}"
      class="custom__tab-content page-width {% if forloop.first %}active{% endif %}"
    >
      {{ block.settings.tab_content }}
    </div>
  {% endif %}
{% endfor %}

{% javascript %}
  tabs= document.querySelectorAll('.custom-tab');
  tabContents= document.querySelectorAll('.custom__tab-content');

  tabs.forEach(function(tab){
      tab.addEventListener('click',function(){

          contentId = this.dataset.contentId;
          content = document.getElementById(contentId);

          tabContents.forEach(function(content){
              content.classList.remove('active');
          });

          tabs.forEach(function(tab){
              tab.classList.remove('active');
          });

          this.classList.add('active');
          content.classList.add('active');
      });
  });
{% endjavascript %}

{% schema %}
{
  "name": "Tabs",
   "blocks": [
    {
      "type": "tab",
      "name": "Tabs",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "info": "Include a heading that explains the tab."
        },
         {
          "type": "richtext",
          "id": "tab_content",
          "label": "Content"
        }
      ]
    }
  ],
   "presets": [
    {
      "name": "Tabs",
      "blocks": [
        {
          "type": "tab"
        }
      ]
    }
  ]
}
{% endschema %}