{% stylesheet %}
 ul.custom--tabs {
    list-style-type: none;
    width: 100%;
    max-width: 1200px;
    display: flex !important;
    flex-wrap: nowrap !important;
    border-radius: 50px;
    background: #333;
    padding: 10px;
    justify-content: center;
    margin: 20px auto;
}

.custom--tabs .tab__list {
    margin: 0;
    position: relative;
}

.custom__tab-content {
    display: none;
    color: #fff;
}

.custom__tab-content.active {
    display: block;
}

.tab__list{
    cursor: pointer !important;
    margin: 0 50px !important;
    padding: 15px 20px;
    border: 2px solid transparent;
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    transition: border-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    background: linear-gradient(to right, #5a0dff -5%, #ff29b8 31%, #ff581c, #ff29b8, #5a0dff);
    background-size: 200% 100%;
    animation: gradientAnimation 4s linear infinite;
    
}


.tab__list.active::before,
.tab__list:hover::before {
    content: '';
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    border-radius: 30px;
    background: linear-gradient(122deg, #4f4f4f -65.81%, #282323 117.04%);
    
}

.tab__list .custom-tab {
  position: relative;
    display: inline-block !important;
    cursor: pointer !important;
    border: 2px solid transparent;
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    
}




.tab__list::after {
    content: '-';
    color: #999;
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
}

.tab__list:last-child::after {
    content: '';
}

@media only screen and (max-width: 576px) {
    ul.custom--tabs {
        flex-wrap: nowrap !important;
        overflow-x: auto;
    }

    .custom--tabs .tab__list .custom-tab {
        margin: 0 5px !important;
        padding: 10px 15px !important;
    }

    .custom__tab-content.active {
        padding: 0 15px;
    }

    .tab__list::after {
        display: none;
    }
}

  {% endstylesheet %}
  
  <ul class="custom--tabs page-width">
    {% for block in section.blocks %}
      {% if block.type == 'tab' %}
        <li class="tab__list {% if forloop.first %}active{% endif %}">
          <button
            class="custom-tab {% if forloop.first %}active{% endif %}"
            data-content-id="content--{{ block.id }}--{{ section.id }}"
          >
            {{ block.settings.heading }}
          </button>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  
  {% for block in section.blocks %}
    {% if block.type == 'tab' %}
      <div
        id="content--{{ block.id }}--{{ section.id }}"
        class="custom__tab-content page-width {% if forloop.first %}active{% endif %}"
      >
        {{ block.settings.tab_content }}
      </div>
    {% endif %}
  {% endfor %}
  
  {% javascript %}
  document.querySelectorAll('.custom-tab').forEach(function(tab) {
    tab.addEventListener('click', function() {
      var contentId = this.dataset.contentId;
      var content = document.getElementById(contentId);
  
      document.querySelectorAll('.custom__tab-content').forEach(function(tabContent) {
        tabContent.classList.remove('active');
      });
  
      document.querySelectorAll('.custom-tab').forEach(function(tab) {
        tab.classList.remove('active');
      });
  
      this.classList.add('active');
      content.classList.add('active');
    });
  });
  {% endjavascript %}
  
  {% schema %}
  {
    "name": "Tabs",
    "blocks": [
      {
        "type": "tab",
        "name": "Tabs",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "info": "Include a heading that explains the tab."
          },
          {
            "type": "richtext",
            "id": "tab_content",
            "label": "Content"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Tabs",
        "blocks": [
          {
            "type": "tab"
          }
        ]
      }
    ]
  }
  {% endschema %}
  
  