{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.newsletter_enable == false and section.settings.enable_follow_on_shop == false
      assign only_empty_brand = true
    endif
  -%}
  {%- if section.blocks.size > 0
    or section.settings.newsletter_enable
    or section.settings.show_social and has_social_icons == true
    or section.settings.enable_follow_on_shop
  -%}
    {%- unless only_empty_brand -%}
      <div class="footer__content-top page-width">
        {%- if section.blocks.size > 0 -%}
          {%- liquid
            if section.blocks.size == 9
              assign footer_grid_class = 'grid--3-col-tablet'
            elsif section.blocks.size > 6
              assign footer_grid_class = 'grid--4-col-desktop'
            elsif section.blocks.size > 4
              assign footer_grid_class = 'grid--3-col-tablet'
            endif
          -%}
          <div
            class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
            {% endif %}
          >
            {%- for block in section.blocks -%}
              <div
                class="footer-block grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- if block.settings.heading != blank -%}
                  <h2 class="footer-block__heading inline-richtext">{{- block.settings.heading -}}</h2>
                {%- endif -%}

                {%- case block.type -%}
                  {%- when '@app' -%}
                    {% render block %}
                  {%- when 'text' -%}
                    <div class="footer-block__details-content rte">
                      {{ block.settings.subtext }}
                    </div>
                  {%- when 'link_list' -%}
                    {%- if block.settings.menu != blank -%}
                      <ul class="footer-block__details-content list-unstyled">
                        {%- for link in block.settings.menu.links -%}
                          <li>
                            <a
                              href="{{ link.url }}"
                              class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                            >
                              {{ link.title }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  {%- when 'brand_information' -%}
                    <div class="footer-block__brand-info">
                      {%- if settings.brand_image != blank -%}
                        {%- assign brand_image_height = settings.brand_image_width
                          | divided_by: settings.brand_image.aspect_ratio
                        -%}
                        <div
                          class="footer-block__image-wrapper"
                          style="max-width: min(100%, {{ settings.brand_image_width }}px);"
                        >
                          {{
                            settings.brand_image
                            | image_url: width: 1100
                            | image_tag:
                              loading: 'lazy',
                              widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
                              height: brand_image_height,
                              width: settings.brand_image_width
                          }}
                        </div>
                      {%- endif -%}
                      {%- if settings.brand_headline != blank -%}
                        <h2 class="footer-block__heading rte">{{ settings.brand_headline }}</h2>
                      {%- endif -%}
                      {%- if settings.brand_description != blank -%}
                        <div class="rte">{{ settings.brand_description }}</div>
                      {%- endif -%}
                      {%- if block.settings.show_social and has_social_icons -%}
                        {%- render 'social-icons', class: 'footer__list-social' -%}
                      {%- endif -%}
                    </div>
                  {%- when 'image' -%}
                    <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                      {%- if block.settings.image_url != blank -%}
                        <div
                          class="footer-block__image-wrapper"
                          style="max-width: min(100%, {{ block.settings.image_width }}px);"
                        >
                          <img
                            src="{{ block.settings.image_url }}"
                            alt="Footer Image"
                            loading="lazy"
                            width="{{ block.settings.image_width }}"
                            height="auto"
                          >
                        </div>
                      {%- elif block.settings.image != blank -%}
                        {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                        <div
                          class="footer-block__image-wrapper"
                          style="max-width: min(100%, {{ block.settings.image_width }}px);"
                        >
                          <img
                            srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                            src="{{ block.settings.image | image_url: width: 760 }}"
                            alt="{{ block.settings.image.alt | escape }}"
                            loading="lazy"
                            width="{{ block.settings.image.width }}"
                            height="{{ block.settings.image.height }}"
                          >
                        </div>
                      {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                      {%- endif -%}
                    </div>
                {%- endcase -%}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}

        <div
          class="footer-block--newsletter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
          {% endif %}
        >
          {%- if section.settings.newsletter_enable -%}
            <div class="footer-block__newsletter">
              {%- if section.settings.newsletter_heading != blank -%}
                <h2 class="footer-block__heading inline-richtext">{{ section.settings.newsletter_heading }}</h2>
              {%- endif -%}
              {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="{{ 'general.newsletter_form_placeholder' | t }}"
                      aria-label="{{ 'general.newsletter_form_placeholder' | t }}"
                      data-placeholder="{{ 'general.newsletter_form_placeholder' | t }}"
                      data-placeholder-short="{{ 'general.newsletter_form_placeholder_short' | t }}"
                      data-placeholder-invalid="{{ 'general.newsletter_form_invalid_error' | t }}"
                    >
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                      {{ 'general.newsletter_form_placeholder' | t }}
                    </label>
                  </div>
                  <button type="submit" class="button button--primary button--full-width">
                    {{ 'general.newsletter_form_button' | t }}
                  </button>
                </div>
                <div class="newsletter-form__message newsletter-form__message--success hide" tabindex="-1" id="ContactFooter-success">
                  {{ 'general.newsletter_form_thank_you' | t }}
                </div>
                <div class="newsletter-form__message newsletter-form__message--error hide" tabindex="-1" id="ContactFooter-error">
                  {{ form.errors.translated_fields.email | default: 'general.newsletter_form_invalid_error' | t }}
                </div>
              {%- endform -%}
            </div>
          {%- endif -%}
        </div>

        {%- if section.settings.show_social and has_social_icons -%}
          {%- render 'social-icons', class: 'footer__list-social' -%}
        {%- endif -%}

        {%- if section.settings.enable_follow_on_shop -%}
          {%- render 'follow-on-shop' -%}
        {%- endif -%}
      </div>
    {%- endunless -%}
  {%- endif -%}

  <div class="footer__content-bottom">
    <div class="page-width">
      <div class="footer__content-bottom-container">
        {%- if section.settings.enable_copyright or section.settings.show_policy_links -%}
          <div class="footer__content-bottom-left">
            {%- if section.settings.enable_copyright -%}
              <small class="footer__copyright">{{ section.settings.copyright }}</small>
            {%- endif -%}
            {%- if section.settings.show_policy_links -%}
              <ul class="footer__policy-links list-unstyled" role="list">
                {%- for link in shop.policy_pages -%}
                  <li>
                    <a href="{{ link.url }}" class="link link--text">{{ link.title }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>
        {%- endif -%}

        {%- if section.settings.show_payment_icons -%}
          <div class="footer__content-bottom-right">
            <div class="list-payment">
              {%- for type in shop.enabled_payment_types -%}
                {%- if type == 'afterpay' and shop.name == 'Demo Shop' -%}
                  {% comment %} avoid showing afterpay on the Demo Shop {% endcomment %}
                {%- else -%}
                  <span class="list-payment__item">
                    {{ type | payment_type_svg_tag: class: 'icon' }}
                  </span>
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-1",
      "options": [
        {
          "label": "Background 1",
          "value": "background-1"
        },
        {
          "label": "Background 2",
          "value": "background-2"
        },
        {
          "label": "Background 3",
          "value": "background-3"
        },
        {
          "label": "Inverse",
          "value": "inverse"
        }
      ]
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Top margin",
      "default": 0
    },
    {
      "type": "text",
      "id": "padding_top",
      "label": "Top padding",
      "default": 28
    },
    {
      "type": "text",
      "id": "padding_bottom",
      "label": "Bottom padding",
      "default": 28
    },
    {
      "type": "header",
      "content": "Brand information"
    },
    {
      "type": "image_picker",
      "id": "brand_image",
      "label": "Image",
      "info": "140px wide image recommended"
    },
    {
      "type": "text",
      "id": "brand_image_width",
      "label": "Image width",
      "default": 140
    },
    {
      "type": "text",
      "id": "brand_headline",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "brand_description",
      "label": "Description"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "label": "Show social accounts",
      "default": true
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Show newsletter signup",
      "default": false
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "label": "Newsletter signup heading",
      "default": "Subscribe to our emails"
    },
    {
      "type": "header",
      "content": "Follow on Shop"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "label": "Enable follow on Shop",
      "default": true
    },
    {
      "type": "header",
      "content": "Legal"
    },
    {
      "type": "checkbox",
      "id": "enable_copyright",
      "label": "Enable copyright",
      "default": true
    },
    {
      "type": "text",
      "id": "copyright",
      "label": "Copyright text",
      "default": "Copyright © {{ 'now' | date: '%Y' }} {{ shop.name }}. All rights reserved."
    },
    {
      "type": "checkbox",
      "id": "show_policy_links",
      "label": "Show policy links",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "animations_reveal_on_scroll",
      "label": "Reveal on scroll",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "textarea",
          "id": "subtext",
          "label": "Text"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "label": "Show social accounts",
          "default": true
        }
      ]
    },
    {
      "type": "link_list",
      "name": "Link list",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "Brand information",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_social",
          "label": "Show social accounts",
          "default": true
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "image_url",
          "label": "Image URL"
        },
        {
          "type": "text",
          "id": "image_width",
          "label": "Image width",
          "default": 140
        },
        {
          "type": "radio",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "text-left",
              "label": "Left"
            },
            {
              "value": "text-center",
              "label": "Center"
            },
            {
              "value": "text-right",
              "label": "Right"
            }
          ],
          "default": "text-left"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer",
      "category": "Footer",
      "blocks": [
        {
          "type": "brand_information"
        },
        {
          "type": "link_list"
        },
        {
          "type": "link_list"
        }
      ]
    }
  ]
}
{% endschema %}
